<footer class="footer mt-3 py-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <strong>SPRL GEO-6 BVBA</strong>

        <address class="mb-2">
          Avenue Jean de Bologne 35 - 1020 Bruxelles<br>
          Belgique
        </address>

        <div class="mb-2">
          {% if page.lang == "fr" %}
          <abbr title="Taxe sur la Valeur Ajoutée">TVA</abbr>
          {% else %}
          <abbr title="Value-Added Tax">VAT</abbr>
          {% endif %}
          BE 0421.608.025
        </div>

        <div>
          <img src="{{ 'assets/images/GitHub-Mark-Light-32px.png' | relative_url }}" style="height: 1rem;">
          <a target="_blank" href="https://github.com/geo6">GitHub</a>
        </div>
      </div>
      <div class="col">
        <div>
          {% assign path_fr = page.path | split:"/" | last | prepend:"fr/" | replace:".md",".html" %}
          {% assign path_en = page.path | split:"/" | last | prepend:"en/" | replace:".md",".html" %}

          {% if page.lang == "fr" %}
          <strong>Français</strong> - <a class="font-bold" href="{{ path_en | relative_url }}">English</a>
          {% else %}
          <a class="font-bold" href="{{ path_fr | relative_url }}">Français</a> - <strong>English</strong>
          {% endif %}
        </div>

        {% if page.lang == "fr" %}
        <ul class="list-unstyled mt-3">
          <li><a href="{% link fr/terms.md %}">Conditions d'utilisation</a></li>
          <li><a href="{% link fr/privacy.md %}">Vie privée</a></li>
        </ul>
        {% else %}
        <ul class="list-unstyled mt-3">
          <li><a href="{% link en/terms.md %}">Terms of use</a></li>
          <li><a href="{% link en/privacy.md %}">Privacy</a></li>
        </ul>
        {% endif %}

        <div class="mt-3">
          &copy; {{site.time | date: '%Y' }} GEO-6
        </div>
      </div>
    </div>
  </div>
</footer>