<header>
  <nav class="navbar navbar-light navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="{% link en/index.md %}">
        <img src="{% link assets/images/logo-full.png %}" height="100" class="d-inline-block align-top" alt="">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          {% assign pages=site.pages | where_exp:"page","page.order > -1" | where:"lang",page.lang | sort:"order" %}
          {% for p in pages %}
            {% unless p.path contains 'products' %}
            <li class="nav-item">
              <a class="nav-link" href="{{ p.url | relative_url }}">{{ p.title }}</a>
            </li>
            {% endunless %}
          {% endfor %}

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% if page.lang == "fr" %}
              Produits & Services
              {% else %}
              Products & Services
              {% endif %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% assign products=site.pages | where_exp:"page","page.path contains 'products'" | where:"lang",page.lang | sort:"order" %}
              {% for p in products %}
              <a class="dropdown-item" href="{{ p.url | relative_url }}">{{ p.title }}</a>
              {% endfor %}
            </div>
          </li>
        </ul>
        <div class="ml-lg-3">
          {% if page.lang == "fr" %}
          <a target="_blank" href="https://sandbox.geo6.be/" class="btn btn-cta">Démo</a>
          <a href="{% link fr/contact.html %}" class="btn btn-cta">Contactez-nous</a>
          {% else %}
          <a target="_blank" href="https://sandbox.geo6.be/" class="btn btn-cta">Try it out</a>
          <a href="{% link en/contact.html %}" class="btn btn-cta">Get in touch</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>

  <hr style="border-color: var(--color-blue-80);">
</header>
