<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{site.title}} - {{page.title}}</title>
    <link rel="icon" type="image/png" href="{% link images/favicon.png %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% if page.map == true %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
    {% endif %}
    <link rel="stylesheet" href="{% link css/style.css %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="{% link index.md %}">
          <img src="{% link images/logo.png %}" width="30" height="30" class="d-inline-block align-top" alt="">
          {{site.title}}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            {% assign pages=site.pages | where_exp:"item","item.order > -1" | where:"lang",page.lang | sort:"order" %}

            {% for p in pages %}
            <li class="nav-item">
              <a class="nav-link" href="{{ p.url }}">{{ p.title }}</a>
            </li>
            {% endfor %}
          </ul>
          <ul class="nav navbar-nav">
            {% assign path = page.path | remove_first:"/" | split:"." %}

            {% if page.lang != "fr" %}
            <li>
              <a class="nav-link" href="{{ path[0] | append:".fr.html" | relative_url }}">Français</a>
            </li>
            {% endif %}
            {% if page.lang != "en" %}
            <li>
              <a class="nav-link" href="{{ path[0] | append:".html" | relative_url }}">English</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container pb-3" id="content">
