<header>
  <nav class="navbar navbar-light navbar-expand-md">
    <div class="container">
      <a class="navbar-brand" href="{% link index.md %}">
        <img src="{% link images/logo-full.png %}" height="100" class="d-inline-block align-top" alt="">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          {% assign pages=site.pages | where_exp:"item","item.order > -1" | where:"lang",page.lang | sort:"order" %}

          {% for p in pages %}
          <li class="nav-item">
            <a class="nav-link" href="{{ p.url | relative_url }}">{{ p.title }}</a>
          </li>
          {% endfor %}
        </ul>
        <div class="ml-lg-5 ml-md-3">
          {% if page.lang == "fr" %}
          <a target="_blank" href="https://sandbox.geo6.be/" class="btn btn-cta">Démo</a>
          <a href="{% link contact.fr.html %}" class="btn btn-cta">Contactez-nous</a>
          {% else %}
          <a target="_blank" href="https://sandbox.geo6.be/" class="btn btn-cta">Try it out</a>
          <a href="{% link contact.html %}" class="btn btn-cta">Get in touch</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>

  <hr style="border-color: var(--color-blue-80);">
</header>