{% include header.html %}
<h1>{{page.title}}</h1>
<hr>
<div class="row">
<div class="col-sm-5">
  <img src="/images/contact.png" alt="GEO-6" class="float-sm-left">
  <address class="float-sm-left ml-2">
    <strong>SPRL GEO-6</strong><br>
    Avenue de l'Araucaria 147/8<br>
    1020 Bruxelles<br>
    office&nbsp;@&nbsp;geo6&nbsp;.&nbsp;be<br>
    <abbr title="TVA">TVA:</abbr> BE 0421.608.025
  </address>
</div>
<div class="col-sm-7">
  <iframe width="100%" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="//www.openstreetmap.org/export/embed.html?bbox=4.361561536788941%2C50.897206960790136%2C4.364458322525025%2C50.89866518836047&amp;layer=mapnik&amp;marker=50.89793608028335%2C4.363009929656982" style="border: 1px solid black"></iframe><br/><small><a href="//www.openstreetmap.org/?mlat=50.89794&amp;mlon=4.36301#map=19/50.89794/4.36301">Afficher une carte plus grande</a></small>
</div>
</div>
{{ content }}
{% include footer.html %}
